
      <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#"></a>
          <%= link_to "SnackSnap", root_url, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              
                <span class="sr-only">(current)</span>
              
            </li>
            <li class="nav-item">
                <%= link_to "New Post", new_post_path %>
            </li>
              <%- if current_user %>
                  <li>
                      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
              </li>
              <% else %>
              <li>
                  <%= link_to "Login", new_user_session_path %>
              </li>
              <li>
                  <%= link_to "Register", new_user_registration_path %>
              </li>
              <% end %>
            <li class="nav-item">
              
            </li>
            <li class="nav-item">
              
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
            <% flash.each do |a, b| %>
                <div class="alert alert-success"> <%= b %> </div>
                    <% end %>
                <%= yield %>
                    
           
          <h1 class="mt-5">SnackSnap</h1>
          <p class="lead">For The Love Of SnackSnap</p>
          <ul class="list-unstyled">
            <li>Bootstrap 4.1.3</li>
            <li>jQuery 3.3.1</li>
          </ul>
        </div>
      </div>
    </div>

<!DOCTYPE html>
<html>
  <head>
    <title>SnackSnap</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
